* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px / 18px Helvetica, Arial, "DejaVu Sans", "Liberation Sans", Freesans, sans-serif;
}

.container {
  width: 1170px;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0px auto;
}
a {
  color: #000;
  text-decoration: none;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}
input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: 14px;
  font-style: inherit;
  font-weight: inherit;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
  transition: all 5s ease;
  display: inline-block;
}
figure {
  margin: 0;
}
strong,
b {
  font-weight: 700;
}
li {
  list-style: none;
